* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

body {
    text-align: center;
    padding: 50px 100px;
}

#main {
    background-color:   #c2dde6;
    display: flex;
    height: 200px;
    margin: 10px;
}
input[type="number"]{
    text-align: center;
}

#div1 {
    width: 50%;
    padding-top: 50px;
}

#div2 {
    width: 50%;
    padding-top: 50px;
}

.inputmain {
    width: 300px;
    height: 40px;
    font-size: 30px;
    background-color:  #bccbde;
}

#thri {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.d1 {
    border: 2px solid black;
    float: left;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
span {
    font-size: 20px;
    font-weight: 1000;
    text-transform: uppercase;
}
#lastdiv {
    border: 2px solid black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#one,
#two,
#three {
    margin: 100px 10px;
}